{% extends "base.html" %}
{% load static %}
{% block title %}Commissions App{% endblock %}
{% block header %}📝 Commissions{% endblock %}
{% block back_button %}<a href="{% url "commissions:commission_list" %}">BACK</a>{% endblock %}
  {% block content %}
    <main class="card">
        <section>
            <h2>Jobs for {{ commission.title }}</h2>
            {% if user.is_authenticated and commission.creator == user.profile %}
            <a href="{% url 'commissions:update_commission' commission.pk %}">
                <p class="button">Edit Commission</p>
            </a>
            {% endif %}
        </section>
        <section>
            <ul>
                {% for job in commission.jobs.all %}
                <li class="list-item">
                    <h3>{{ job.role }}</h3>
                    <p class="status-chip">{{ job.status }}</p>
                    <section class="job-footer">
                        <p class="manpower">Manpower required: {{ job.manpower_required }}</p>
                        {% if user.is_authenticated and job.status == "Open" and commission.creator != user.profile %}
                        <form method="post">
                        {% csrf_token %}
                            <input type="hidden" name="job_id" value="{{ job.id }}">
                        <button type="submit">Apply to Job</button>
                        </form>
                        {% endif %}
                    </section>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
  {% endblock %}
