{% extends "base.html" %}
{% load static %}
{% block title %}Merchandise Store App{% endblock %}
{% block header %}🛍️ Merchandise Store{% endblock %}
{% block back_button %}<a href="{% url 'merchstore:list_view' %}">BACK</a>{% endblock %}
{% block content %}
	<text style="font-size:25px">Your Cart</text><ul>
		{% for transaction in transactions %}
			<li style="font-size:20px">{{ transaction.product.name }} | Amount: {{ transaction.amount }} | Status: {{ transaction.status }} | Created on: {{ transaction.created_on}}</li>
			<br>
		{% endfor %}
	</ul>
{% endblock %}
