{% extends "base.html" %}
{% load static %}
{% block title %}Merchandise Store App{% endblock %}
{% block header %}🛍️ Merchandise Store{% endblock %}
{% block back_button %}<a href="{% url 'merchstore:list_view' %}">BACK</a>{% endblock %}
{% block content %}
	<text style="font-size:50px">{{ product.name }}</text>
	<text style="color: rgba(0, 0, 0, 0.5)">PHP {{ product.price }}   //   Item Type: {{ product.product_type.name }}</text>
	<br>
	<text class="text-wrap"> {{ product.description }} </text>
{% endblock %}
