{% extends "base.html" %}
{% load static %}
{% block title %}Merchandise Store App{% endblock %}
{% block header %}🛍️ Merchandise Store 🛍️{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>Your Items <a href="{% url 'merchstore:add_view' %}">+</a></h1>
		<ul>
			{% for product in owned %}
				<li style="font-size:20px"><a href="{% url 'merchstore:detail_view' product.id %}">{{ product.name }}</a></li>
				<br>
			{% endfor %}
		</ul>
		<br>
	{% endif %}
	
	<h1>Items</h1>
	<ul>
		{% for product in products %}
			<li style="font-size:20px"><a href="{% url 'merchstore:detail_view' product.id %}">{{ product.name }}</a></li>
			<br>
		{% endfor %}
	</ul>
{% endblock %}
