{% extends 'base.html' %}
{% load static %}
{% block title %}Wiki App{% endblock %}
{% block header %}📙 Online Wiki{% endblock %}
{% block content %}
    <text style="font-size:50px">Articles</text>
    {% for category in categories %}
        <h2>{{ category.name }}</h2>  <!-- Display category name -->
        <ul>
            {% for article in articles %}
                {% if article.category == category %}
                    <li>
                        <a href="{% url 'wiki:detail_view' article.id %}">{{ article.title }}</a>
                        - Created on: {{ article.created_on }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No articles available.</li>
            {% endfor %}
			<br>
        </ul>
		<hr style="width: 100%">
    {% empty %}
        <p>No categories available.</p>
    {% endfor %}
{% endblock %}
