{% extends 'base.html' %}
{% load static %}
{% block title %}Wiki App{% endblock %}
{% block header %}📙 Online Wiki{% endblock %}
{% block back_button %}<a href="{% url 'wiki:list_view' %}">BACK</a>{% endblock %}
{% block content %}
    <text style="font-size:50px">{{ article.title }}</text>
    <text style="color: rgba(0, 0, 0, 0.5)"><strong>Category: {{ article.category }}</strong></text>
    <text style="color: rgba(0, 0, 0, 0.5)">Created On: {{ article.created_on }}</text>
    <text style="color: rgba(0, 0, 0, 0.5)">Updated On: {{ article.updated_on }}</text>
    <div>
        {{ article.entry|linebreaks }}
    </div>
{% endblock %}
