{% extends 'base.html' %}
{% load static %}
{% block title %}Blog App{% endblock %}
{% block header %}🌐 Blog{% endblock %}

{% block content %}
    <h1>Blog: Articles Creation</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ article_form.as_p }}

        {{ gallery_formset.management_form }}
        {% for form in gallery_formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" name="article_submit">Post</button>
    </form>
{% endblock %}