{% extends 'base.html' %}
{% load static %}
{% block title %}Blog App{% endblock %}
{% block header %}🌐 Blog 🌐{% endblock %}
{% block content %}
    <h1>Articles</h1>
    <text>Create New Article</text><br>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <a href="{% url 'blog:create_view' %}">➕ Create New Article</a>
    </div>
    
    <ul>
    <h2>Your Articles</h2>
    {% for article in articles_author %}
        <li>
            <a href="{% url 'blog:detail_view' article.id %}">{{ article.title }}</a>
        </li>
    {% endfor %}
    </ul>

    {% for category in categories %} 
    <ul>        
        <h3> {{category.name}}</h3>
        {% for article in articles %}
            {% if article.category.name == category.name %}
				<li>
					<a href="{% url 'blog:detail_view' article.id %}">{{ article.title }}</a>
				</li>
            {% endif %}
        {% endfor %}
    </ul>
	<hr>
    {% endfor %}
{% endblock %}
