{% extends 'base.html' %}
{% load static %}
{% block title %}Forum App{% endblock %}
{% block header %}💬 Forum{% endblock %}
{% block content %}
	{% for category in categories %}
		<text style="font-size:25px"><strong>{{ category.name }}</strong></text>
		<text style="color: rgba(0, 0, 0, 0.5)">{{ category.description }}</text>
		<ul>
			{% for post in category.posts.all %}
				<li class="post-item">
					<a href="{% url 'forum:detail_view' post.id %}" class="post-title">{{ post.title }}</a> -
					<span>{{ post.created_on|date }}</span>
				</li>
			{% empty %}
				<li>No posts for this category</li>
			{% endfor %}
		</ul>
		<hr style="width: 100%">
	{% endfor %}
{% endblock %}